@{
  Layout = "_Layout";
}
<body>
  <div class="container">
    <div class="jumbotron">
      <h1>All Artists Have Been Romoved!</h1>
    </div>

    <h4><a href='/'>Back home</h4></p>
    <h3><a href="/artists/new">Add a New Artists</a></h3>
  </div>
</body>